{% extends 'base.html.twig' %}

{% block title %}{{ article.name }}{% endblock %}

{% block body %}
    <h1>{{ article.name }}</h1>

    {% if article.poster %}
        <img src="{{ asset('uploads/images/posters/' ~ article.poster) }}" alt="Photo de l'article">
    {% endif %}

    <p>{{ article.description }}</p>

    {% if app.user %}
        {# Formulaire pour ajouter un commentaire si l'utilisateur est connecté #}
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.comment) }}
        <button type="submit">Envoyer</button>
        {{ form_end(commentForm) }}
    {% else %}
        <p>Connectez-vous pour laisser un commentaire.</p>
    {% endif %}

    <h2>Commentaires</h2>
    <ul>
{% for comment in article.getComment() %}
    <li>{{ comment.comment }} - {{ comment.author.name }}</li>
{% endfor %}
    </ul>
{% endblock %}
